.commit-details-parent {
  height: 100%;
  padding: 20px;
}

.committer-info-container {
  width: 100%;
}

.commit-details {
  svg {
    margin: 0 2px;
  }
}

.committer-badge {
    flex-shrink: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
    font-size: 36px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.commit-message {
  background-color: var(--bg-secondary);
}

.discard-btn {
  width: fit-content;
}

.file-list-title {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  padding: 0.5rem 0;

  .title {
    margin: 0.4rem 0;
  }
}

.commit-area {
  display: flex;
  flex-direction: column;
  .bp3-input {
    margin-bottom: 0.4rem;
  }
}

.card-field {
  will-change: transform;
  background: rgba(16, 22, 26, 0.3);
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
  color: #f5f8fa;
  outline: none;
  padding: 0.5rem;
  transition: box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9);
  border: none;
  border-radius: 3px;
}

.modified-file-list {
  // background-color: var(--bg-secondary);
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;

  .modified-file-entry {
    position: relative;

    .action-btn {
      position: absolute;
      top: 3px;
      right: 3px;
      min-height: 20px;
      min-width: 20px;
      padding: 0 7px;
      display: none;
    }

    &:hover .action-btn {
      display: block;
    }
  }

}