.commit-details-parent {
  height: 100%;
  padding: 20px;
}

.committer-info-container {
  width: 100%;
}

.commit-details {
  svg {
    margin: 0 2px;
  }
}

.committer-badge {
    flex-shrink: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
    font-size: 36px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.commit-message {
  background-color: var(--bg-secondary);
}

.modified-file-list {
  background-color: var(--bg-secondary);
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
}