@import "~normalize.css/normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/scss/variables";

:root {
  --bg: #30404d;
  --bg-graph: #282c34;
  --bg-secondary: #25303a;
  --primary: #7367f0;
  --success: #90c90c;
  --danger: #ff5454;
  --warning: #ffb200;
  --dark: #000000;
  --info: #1687ff;
  --gray: #4a6d88;
}

body {
  background-color: var(--bg);
  overflow-y: hidden;
  overflow-x: auto;
}

pre {
  white-space: pre-wrap;
}

a:hover {
  text-decoration: none;
}

$footer-size: 77px;

.loading-content {
  position: absolute;
  inset: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.48);
  cursor: wait;

  .bp3-spinner {
    height: 100%;
  }
}

.main-layout {
  height: calc(100vh - 107px);

  .sidebar {
    flex: 0 0 200px;
    max-width: 200px;
    min-width: 200px;
    width: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;

    .bp3-tree {
      // background-color: rgba(0, 0, 0, 0.2);
      background: rgba(16, 22, 26, 0.3);
      color: #f5f8fa;

      .bp3-tree-node-content {
        height: 22px;
        font-size: 13px;
      }

      .secondary-label {
        font-size: 11px;
        display: flex;
        align-items: center;
        width: 40px;
        justify-content: space-between;
      }
    }
  }
  .section {
    display: flex;
    flex-direction: column;
    flex: auto;
    background-color: var(--bg-secondary);
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;
    height: calc(100vh - 77px);
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
  }

  .settings {
    background-color: var(--bg-secondary);
    color: #ddd;
  }
}

.footer {
  background-color: var(--bg);
  height: 50px;
  border-top: 1px solid var(--bg-graph);
  cursor: default;
}

.recipe-toaster {
  margin-top: 70px;
}

.bp3-button.bp3-align-left .bp3-button-text {
  flex: 1 1 auto;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
}

.bp3-tree-node {
  cursor: pointer;
}

/* width */

::-webkit-scrollbar {
  width: 6px;
}

/* Track */

::-webkit-scrollbar-track {
  // background-color: rgba(0, 0, 0, 0.2);
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: var(--gray);
  border: 1px solid var(--gray);
  border-radius: 5px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: var(--gray);
}

.ps__thumb-y {
  background: var(--gray);
}

.grow, .spacer {
  -webkit-box-flex: 1!important;
  -ms-flex-positive: 1!important;
  flex-grow: 1!important;
}

.h-screen {
  height: calc(100vh - 30px) !important;
}

.badge {
  display: inline-block;
  line-height: 1;
  border-radius: 10px;
  color: #fff;
  font-size: 11px;
  height: 15px;
  letter-spacing: 0;
  min-width: 15px;
  padding: 1px 3px;
  pointer-events: auto;
  position: absolute;
  text-align: center;
  text-indent: 0;
  top: auto;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  white-space: nowrap;
  inset: auto auto calc(100% - 17px) calc(100% - 17px);
  background-color: #2196f3 !important;
  border-color: #2196f3 !important;

  ::after {
    border-color: #1e1e1e;
  }
}

@import "resizer.scss";
@import "subway.scss";
