@import "~normalize.css/normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/scss/variables";

:root {
  --bg: #30404d;
  --bg-graph: #282c34;
  --bg-secondary: #25303a;
  --primary: #7367f0;
  --success: #90c90c;
  --danger: #ff5454;
  --warning: #ffb200;
  --dark: #000000;
  --info: #1687ff;
  --gray: #4a6d88;
}

body {
  background-color: var(--bg);
  overflow-y: hidden;
  overflow-x: auto;
}

pre {
  white-space: pre-wrap;
}

$footer-size: 77px;

.main-layout {
  height: calc(100vh - 77px);

  .sidebar {
    flex: 0 0 200px;
    max-width: 200px;
    min-width: 200px;
    width: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;
    .bp3-tree-node-content {
      height: 25px;
    }
  }
  .section {
    display: flex;
    flex-direction: column;
    flex: auto;
    background-color: var(--bg-secondary);
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;
    height: calc(100vh - 77px);
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .settings {
    background-color: var(--bg-secondary);
    color: #ddd;
  }
}

.footer {
  background-color: var(--bg);
  height: 50px;
  border-top: 1px solid var(--bg-graph);
}

.bp3-button.bp3-align-left .bp3-button-text {
  flex: 1 1 auto;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
}

.bp3-tree-node {
  cursor: pointer;
}

/* width */

::-webkit-scrollbar {
  width: 6px;
}

/* Track */

::-webkit-scrollbar-track {
  // background-color: rgba(0, 0, 0, 0.2);
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: var(--gray);
  border: 1px solid var(--gray);
  border-radius: 5px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: var(--gray);
}

.ps__thumb-y {
  background: var(--gray);
}

.grow, .spacer {
  -webkit-box-flex: 1!important;
  -ms-flex-positive: 1!important;
  flex-grow: 1!important;
}

@import "resizer.scss";
@import "subway.scss";
