$main-width: 220px;

.separator-container {
  width: 100%;
  top: 12px;
  position: absolute;
  z-index: 0;
  .separator {
    opacity: 0.6;
    text-align: left;
    border-top: solid 1px var(--gray);
    color: var(--gray);
    position: absolute;
    width: 100%;
    line-height: 10px;
    small {
      width: $main-width;
      font-size: 12px;
      display: block;
      text-align: right;
      margin-top: 2px;
    }
  }
}
.hidden {
  display: none;
}
