.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hidden {
  display: none;
}

.subway-outer {
  height: 100%;
  position: absolute;
  width: 100%;
  zoom: 1;
}

.subway-container {
  padding-left: 10px;
  border-bottom: solid 1px #222;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  position: relative;
  height: auto;
}

.eoh-container {
  color: #6c757d;
}
