$main-width: 200px;

.annot-root {
  height: 100%;
  padding-top: 4px;
  width: $main-width;
}

.annot-container {
  width: $main-width;
  height: 100%;
  position: relative;
}

.annot {
  margin-top: 8px;
  width: 100%;
  position: absolute;
  max-width: $main-width;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  .connect-line {
    position: absolute;
    height: 2px;
    top: 14px;
    .line {
      stroke: var(--blue);
      stroke-width: 2px;
    }
  }
  ul {
    margin-top: 3px;
    list-style: none;
    float: left;
    max-width: 140px;
    -webkit-padding-start: 0;
    .summary {
      display: block;
    }
    .detail {
      display: none;
      position: absolute;
      left: 0px;
    }
    &:hover {
      .summary {
        display: none;
      }
      .detail {
        display: block;
      }
    }

    li {
      border-radius: 3px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 14px;
      padding: 0 5px;
      line-height: 22px;
      svg {
        font-size: 12px;
        margin-right: 4px;
        margin-top: 2px;
      }
      span {
        margin: 2px 0
      }
    }
  }
}
